<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kbstar.mapper.ItemMapper">

    <select id="search" parameterType="itemSearch" resultType="item">
        SELECT * FROM item
        <where>
        <!-- 범위 설정을 위하여 두 가지 값을 받을 수 없어 전달 받은 값에서 아래 범위 값을 뺌
        이때 부등호가 두개 이상 들어가면 'tag name expected'라는 error가 떠서 두번째 등호는 &lt;로 대체 -->
            <if test = "id !=null and !id.equals('')">
                AND id > #{id}-10 AND id &lt;= #{id}
            </if>
            <if test = "price !=null and !price.equals('')">
                AND price > #{price}-9999 AND price &lt;= #{price}
            </if>
            <if test = "imgname !=null and !imgname.equals('')">
                AND imgname LIKE '%'||#{imgname}||'%'
            </if>
            <if test = "name !=null and !name.equals('')">
                AND name LIKE '%'||#{name}||'%'
            </if>
            <!--rdate칼럼의 연월만 추출하여 입력받은 rdate의 연월 값과 비교-->
            <if test = "rdate !=null and !rdate.equals('')">
                AND TO_CHAR(rdate, 'YYYY-MM') = TO_CHAR(#{rdate}, 'YYYY-MM')
            </if>
        </where>
    </select>



    <select id="select" parameterType="Integer" resultType="item">
        SELECT * FROM item WHERE ID=#{id}
    </select>
    <select id="selectall" resultType="item">
        SELECT * FROM item
    </select>
    <insert id="insert" parameterType="item">
        INSERT INTO item VALUES (item_seq.NEXTVAL,#{name},#{price},#{imgname},SYSDATE)
    </insert>
    <update id="update" parameterType="item">
        UPDATE item SET price=#{price}, name=#{name}, imgname=#{imgname} WHERE iD=#{id}
    </update>
    <delete id="delete" parameterType="Integer">
        DELETE FROM item WHERE ID=#{id}
    </delete>

</mapper>